<nav class="bg-red-700 text-white p-4 flex justify-between items-center">
    <div class="font-bold text-lg">Médilabo Solutions</div>

    <div class="space-x-4 flex items-center">
        <a *ngIf="showBackToList()" routerLink="/patients"
            class="underline hover:opacity-90">
            ← Retour à la liste
        </a>

        <a *ngIf="showBackToPatient()"
            [routerLink]="['/patients', getCurrentPatientId()]"
            class="underline hover:opacity-90">
            ← Détails du patient
        </a>

        <a routerLink="/patients" routerLinkActive="underline">Liste des
            patients</a>
        <a routerLink="/patients/add" routerLinkActive="underline">Ajouter un
            patient</a>

        <button (click)="logout()"
            class="bg-white text-red-700 font-semibold px-3 py-1 rounded hover:bg-gray-200">
            Déconnexion
        </button>
    </div>
</nav>
