# IDE & outils
.vscode/
.angular/
.apt_generated
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Dépendances Node & Angular
node_modules/
dist/
coverage/
.env
.env.local

# Java / Maven / STS
.mvn/wrapper/maven-wrapper.jar
*.class
*.log

# Exclusions spécifiques avec exceptions
**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Fichiers système
.DS_Store
Thumbs.db
*.swp
*.tmp

# Docker
.dockerignore
nginx.conf

# Fichiers de build front-end
*.js
*.js.map
*.css
*.css.map
tailwind.config.js
postcss.config.js

# Autres éditeurs
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
