<h2>Détails du patient</h2>

<div *ngIf="!patient && !error" class="text-gray-500 text-center p-4">
    Chargement des données...
</div>
<div *ngIf="error" class="text-red-600 text-center p-4">
    {{ error }}
</div>

<div *ngIf="patient">
    <h2 class="text-xl font-semibold">{{ patient.prenom }} {{
        patient.nom
        }}</h2>
    <div class="mt-4 space-y-2">
        <p>Date de naissance : {{ patient.dateDeNaissance | date:'longDate'
            }}</p>
        <p>Genre : {{ patient.genre === 'M' ? 'Homme' : 'Femme'}}</p>
        <p *ngIf="patient?.adresse">Adresse : {{ patient.adresse }}</p>
        <p *ngIf="patient?.telephone">Téléphone : {{ patient.telephone }}</p>
    </div>
    <div class="mt-6">
        <a [routerLink]="['/patients', patient.id, 'notes']"
            class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded">Voir
            notes</a>
        <a [routerLink]="['/patients', patient.id, 'risk']"
            class="bg-yellow-600 hover:bg-yellow-700 text-white px-4 py-2 rounded ml-2">
            Évaluation du risque
        </a>
    </div>
</div>
