<h2 class="text-xl font-semibold mb-4">Liste des notes</h2>

<div class="mb-4">
  <input
    [(ngModel)]="filter"
    placeholder="Rechercher un patient..."
    class="border p-2 rounded w-full max-w-md"
  />
</div>
<div
  *ngFor="let p of getFilteredNotes()"
  class="border border-black p-4 rounded hover:shadow-md bg-white space-y-2"
>
  <p class="font-semibold text-red-700">{{ p.patient }}</p>

  <ng-container *ngIf="p.notes.length > 0; else noNotes">
    <ul class="list-disc pl-6 text-gray-800 text-base leading-relaxed">
      <li *ngFor="let note of p.notes">{{ note }}</li>
    </ul>
  </ng-container>

  <ng-template #noNotes>
    <p class="italic text-gray-500">Aucune note</p>
  </ng-template>

  <a
    [routerLink]="['/patients', p.patId, 'notes', 'add']"
    class="text-blue-600 hover:underline mt-4 inline-block"
  >
    ➕ Ajouter une note
  </a>
</div>
